---
Checks: >
  boost-*,bugprune-*,cert-*,
  clang-diagnostic-*,clang-analyzer-*,
  concurrency-*,cppcoreguidelines-,
  fuchsia-*,google-*,hicpp-*,llvm-*,misc-*,
  modernize-*,performance-*,portability-*,readability-*,
  -bugprone-argument-comment,
  -bugprone-no-escape,
  -cert-msc51-cpp,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -misc-non-private-member-variables-in-classes,
  -modernize-replace-random-shuffle,
  -modernize-unary-static-assert,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-redundant-member-init,
  -readability-redundant-string-init,
  -modernize-avoid-bind,
  -cert-err34-c,
  -hicpp-no-malloc,
  -readability-convert-member-functions-to-static,
  -hicpp-vararg,
  -readability-magic-numbers,
  -hicpp-signed-bitwise,
  -hicpp-no-array-decay,
  -clang-diagnostic-unsequenced,
  -clang-diagnostic-gnu-zero-variadic-macro-arguments,
  -Wgnu-zero-variadic-macro-arguments,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions: []